body {
  font-family: 
    "Times New Roman",
    "Nimbus Roman",
    "Liberation Serif",
    "Times",
    "Georgia",
    serif;
}

main.content {
  margin-left: 2rem;
}

#toc-title {
  font-size: 1.2rem;   
  font-weight: 600;
  margin-bottom: 0.8rem;
}
